.player_in_feed{
    margin-left: auto;
    margin-right: auto;
    width:450px;
    height:450px;
}
.player{
    padding:20px;
}
.playerfeed{

    display:block;
}
img{
	width:200px;
	height:200px;

}
.team_players{
    width:50px;
    height:50px;
}