<!DOCTYPE html>

<h1>PRO PLAYER GEAR</h1>
<a href="/">TO HOAM</a>
<head>
	<link type="text/css" rel="stylesheet" href="/static/main.css" />

	<script type="text/javascript" src="/components/angular/angular.min.js"></script>
    <script type="text/javascript" src="/components/angular/angular.js"></script>
    <script type="text/javascript" src="/static/js/main.js"></script>
</head>
<form method="post">
	<label>
	Search player:
	<textarea name="search" rows="1" cols="60"></textarea>
    <input type="submit" value="Search"/>
	</label>
</form>
{%block content%}

{%endblock%}


<a href="/upload">Upload</a>