<form method="POST" enctype="multipart/form-data">

	
	NAMN : 
	<input type="text" name = "name" value = "{{name}}"> <br>
	MUS : 
	<input type="text" name = "mouse" value = "{{mouse}}"> <br>
	TANGENTBORD : 
	<input type="text" name = "keyboard" value = "{{keyboard}}"> <br>
	SKÄRM : 
	<input type="text" name = "monitor" value = "{{monitor}}"> <br>
	STOL : 
	<input type="text" name = "chair" value = "{{chair}}"> <br>
	BILD : 
	<input type="url" name = "p_img" value = "{{p_img}}">
	 <br>
	SUBMIT : 
	<input type = "submit">
	
</form>
<a href="/">Startsida</a>