<form method="POST" enctype="multipart/form-data">


    NAMN :
    <input type="text" name = "t_name" value = "{{t_name}}"> <br>
    BILD :
    <input type="url" name = "t_img" value = "{{t_img}}"> <br>
    PLAYERS I LAGET:
    <input type="text" name = "t_player1" value = "{{t_player1}}"> <br>
    1:
    <input type="text" name = "t_player2" value = "{{t_player2}}"> <br>
    2:
    <input type="text" name = "t_player3" value = "{{t_player3}}"> <br>
    3:
    <input type="text" name = "t_player4" value = "{{t_player4}}"> <br>
    SUBMIT :
    <input type = "submit">

</form>
<a href="/">Startsida</a>